mat-card {
    position: fixed;
    bottom: 5px;
    padding: 10px;
}

mat-slider {
    width: 500px;
}

button {
    min-width: 1px;
}

.display-inline-block {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
}

h4, p {
    margin: 5px;
}