<mat-slider min="0" max="100" value="10" color="primary" class="trackSlider"></mat-slider>
<mat-card>
  <div>
    <div *ngIf="playerService.track">
      <img src='{{playerService.currentTrackImage}}' class="trackImage" width="64px" (click)="onAlbumClick()">
      <div class="trackData">
        <p class="trackTitle">{{playerService.track.title}}</p>
        <p class="trackArtist grey-text">
          <span *ngFor="let artist of playerService.track.artistName; let i = index">
            <span class="artist" (click)="onArtistClick(i)">{{artist}}</span>
            <span *ngIf="i !== playerService.track.artistName.length - 1">, </span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="centerItems">
    <button mat-icon-button (click)="playerService.changeRepeat()">
      <mat-icon [color]="playerService.repeat === 0 ? 'null' : 'primary'">
        {{playerService.repeat === playerService.repeatType.repeatTrack ? 'repeat_one' : 'repeat'}}
      </mat-icon>
    </button>
    <button mat-icon-button (click)="playerService.playPrevSong()"
      [disabled]="!playerService.track || playerService.trackIndex === 0"><mat-icon>skip_previous</mat-icon></button>
    <button mat-mini-fab color="primary" (click)="onToggleSong()" [disabled]="!playerService.track"><mat-icon>{{playerService.playing ? 'pause' : 'play_arrow'}}</mat-icon></button>
    <button mat-icon-button (click)="playerService.playNextSong()"
      [disabled]="!playerService.track || playerService.trackIndex === playerService.context.tracks.length - 1"><mat-icon>skip_next</mat-icon>
    </button>
    <button mat-icon-button (click)="playerService.toggleShuffle()">
      <mat-icon [color]="playerService.shuffle ? 'primary' : 'null'">shuffle</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
    <button mat-icon-button (click)="playerService.toggleVolume()"><mat-icon>{{playerService.volume ? 'volume_up' : 'volume_off'}}</mat-icon></button>
    <mat-slider min="0" max="100" value="10" color="primary" [disabled]="!playerService.volume"></mat-slider>
  </div>
</mat-card>