mat-card {
    position: fixed;
    bottom: 5px;
    padding: 10px;
}

.songSlider {
    width: 500px;
}

.display-inline-block {
    display: inline-block;
    vertical-align: middle;
}

h4, p {
    margin: 5px;
}