@import '../shared/list.scss';

.left {
    max-height: 200px;
    overflow: hidden;
}

.table-header {
    clear: left;
    padding-top: 20px;
    margin-bottom: 0px;
}

.mat-table {
    margin-bottom: 20px;
}

.end {
    margin-bottom: 100px;
}

.albums {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .mat-card {
        width: 200px;
        margin-right: 20px;
        margin-bottom: 20px;

        &:hover {
            @include mat-elevation(10);
            background-color: $background;
            cursor: pointer;
        }
    }
}

