<mat-toolbar class="mat-elevation-z12 top-bar">
  <span>Spotty</span>
  <button mat-button routerLink='/playlists'>Playlists</button>
  <button mat-button routerLink='/browse'>Browse</button>
  <button mat-button routerLink='/search'>Search</button>
  <span class='spacer'></span>
  <div *ngIf="authService.authorized">
    <span class="mat-body-2" >{{spotifyApiService.userDisplayName}}</span>
    <button mat-button (click)="onSignOut()">Sign out</button>
  </div>
  <button mat-button *ngIf="!authService.authorized" (click)="onSignIn()">Sign in</button>
</mat-toolbar>