<div *ngIf="album">
  <div class="left">
    <img *ngIf="album.image" src="{{album.image}}" width="200px">
  </div>
  <div class="right">
    <h1 class="mat-display-2">{{album.name}}</h1>
    <div class="mat-body-1 grey-text">{{album.type | titlecase}} by
      <span *ngFor="let artist of album.artistName; let i = index">
        <span class="link" (click)="onAlbumArtistClick(i)">{{artist}}</span>
        <span *ngIf="i !== album.artistName.length - 1">, </span>
      </span>
    </div>
    <div class="mat-body-1 grey-text">{{album.tracks.length}} {{album.type === 'single' ? 'song' : 'songs'}}</div>
    <button mat-raised-button color="primary" class="play-button" (click)="onPlayClicked()">PLAY</button>
  </div>
  <button mat-icon-button class="menu-button"><mat-icon>more_vert</mat-icon></button>

  <table mat-table [dataSource]="album.tracks">
    <ng-container matColumnDef="playButton">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let track; let i = index">
        <button mat-icon-button class="table-play-arrow" (click)="onTogglePlayButtonClicked(i)">
          <mat-icon>{{ isTrackActive(i) && playerService.playing ? 'pause' : 'play_arrow'}}</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"><span class="grey-text">{{i + 1}}</span></td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let track; let i = index" (click)="onTogglePlayButtonClicked(i)">{{track.title}}
        <span *ngFor="let artist of track.artistName | slice:1; let j = index" class="grey-text">
          <span *ngIf="j === 0"> - </span>
          <span class="link" (click)="onArtistClick(i, j + 1, $event)">{{artist}}</span>
          <span *ngIf="j !== track.artistName.length - 2">, </span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let track; let i = index">
        <button mat-icon-button class="table-queue-button"><mat-icon>queue</mat-icon></button>
        <button mat-icon-button class="table-more-menu"><mat-icon>more_vert</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="length">
      <th mat-header-cell *matHeaderCellDef>Length</th>
      <td mat-cell *matCellDef="let track"><span>{{track.lengthFormatted}}</span></td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayColumns; let i = index"
      [class.active]="isTrackActive(i)"></tr>
  </table>
</div>