<mat-drawer-container *ngIf="playlists">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let playlist of playlists; let i = index">
        <button mat-button [routerLink]="['/playlist', i]" [class.active]="selectedPlaylist === i" (click)="onPlaylistClick(i)">{{playlist.name}}</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button class="grey-text">New playlist</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>