@import '../../styles.scss';

.mat-drawer-container {
    background-color: inherit;
}

.mat-drawer {
    position: fixed;
    top: 64px;
    background-color: $background-dark;
}

.mat-drawer-content {
    padding: 30px;
}

.mat-button {
    max-width: 220px;
    width: 100%;
    text-align: left;
}

.active {
    color: $primary;
}

.mat-divider {
    margin: 0px 16px;
}