<h2 mat-dialog-title>Edit playlist</h2>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name" value="{{name}}">
  </mat-form-field>
  
  <mat-radio-group>
    <mat-radio-button value="1" color="primary" [checked]="public">Public</mat-radio-button>
    <mat-radio-button value="2" color="primary" [checked]="!public">Private</mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
  <button mat-button color="primary">Save</button>
</mat-dialog-actions>