@import '../../styles.scss';

img {
    float: left;
    margin-right: 20px;
}

.noImage {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    background-color: lightgrey;
}

.mat-table {
    width: 100%;
    margin-bottom: 100px;
    background: inherit;
}

.mat-row:hover {
    background-color: $background-dark;

    .table-play-arrow {
        visibility: visible;
    }
}

.mat-column-title:hover {
    cursor: pointer;
}

.active {
    background-color: $background-dark;
    color: $primary;

    .table-play-arrow {
        visibility: visible;
    }
}

.mat-cell {
    color: inherit;
}

.mat-column-actions {
    padding-left: 0 !important;
    padding-right: 10px !important;
    width: 1%;
    white-space: nowrap;
}

.table-play-arrow {
    visibility: hidden;
}

.mat-column-album span:hover, .mat-column-artist .artist:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mat-column-length {
    width: 1%;
}

.mat-display-2 {
    margin-bottom: 48px;
}

.edit-button {
    float: right;
    width: 60px;
    height: 60px;

    .mat-icon {
        font-size: 32px;
    }
}