@import '../../styles.scss';

.mat-table {
    width: 100%;
    margin-bottom: 100px;
    background: inherit;
}

.mat-row:hover {
    background-color: $background-dark;
    cursor: pointer;
}

.mat-cell {
    color: inherit;
}

img {
    float: left;
    margin-right: 20px;
}

.noImage {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    background-color: lightgrey;
}

.active {
    background-color: $background-dark;
    color: $primary;
}