@import '../../styles.scss';

img {
    float: left;
    margin-right: 20px;
}

.noImage {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    background-color: lightgrey;
}

.mat-table {
    width: 100%;
    margin-bottom: 100px;
    background: inherit;
}

.mat-row:hover {
    background-color: $background-dark;
    cursor: pointer;

    .table-play-arrow {
        visibility: visible;
    }
}

.active {
    background-color: $background-dark;
    color: $primary;

    .table-play-arrow {
        visibility: visible;
    }
}

.mat-cell {
    color: inherit;
}

.mat-column-actions {
    padding-left: 0 !important;
    padding-right: 10px !important;
    width: 1%;
    white-space: nowrap;
}

.table-play-arrow {
    visibility: hidden;
}