<div *ngIf="type === ListType.Playlist">
  <div class="left">
    <img *ngIf="playlist.image" src="{{playlist.image}}" width="200px">
  </div>
  <div class="right">
    <h1 class="mat-display-2">{{playlist.name}}</h1>
    <div class="mat-body-1">Playlist</div>
    <div class="mat-body-1">Created by {{playlist.owner}}, {{playlist.tracks.length}} songs</div>
    <div class="mat-body-1" *ngIf="playlist.owner === spotifyApiService.userId">{{ playlist.public ? 'Public' : 'Private' }}</div>
    <button mat-raised-button color="primary" class="play-button" (click)="onPlayClicked()">PLAY</button>
  </div>
</div>

<div *ngIf="type === ListType.Album">
  <div>{{album.name}}</div>
</div>